body::before {
    display: block;
    content: '';
    height: 60px;
}
body::after {
    display: block;
    content: '';
    height: 120px;
}

.nav-link{
    text-decoration: none;
    color: darkgray!important;
}
.nav-link:hover{
    text-decoration: none;
    color: white!important;
}