body::before {
    display: block;
    content: '';
    height: 60px;
}
body::after {
    display: block;
    content: '';
    height: 120px;
}

.form-control{
    margin-bottom: 2%;
    text-align: center;
}

#gmap_canvas{
    width: 75%;
    height: 75%;
}
.gmap_canvas{
    width: 100%;
    height: 100%;
}