body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: whitesmoke;
	width: 100%;
	height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

.full{
    width: 75%;
	height: 100%;
	padding: 2%;
    margin: auto;
    flex-direction: column;
    align-self: center;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.maps{
margin-top: 3%;
}