body {
	margin: 0;
	padding: 0;
	background-color: #2e3440;
	color: whitesmoke;
	width: 100%;
	height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

#back1 {
    width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background-color: rgb(0, 0, 0);
}

#Tasks{
    width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#DoneTasks{
    width: 75%;
	height: 100%;
	padding: 2%;
	background-color: grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

p{
	width: 75%
	word-wrap: break-word;
}

#PenCalcontainer {
	width: 100%;
	margin: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#slidercontainer {
	width: 100%;
	font-size: 130%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#ageslider {
	width: 30%;
}

#gendercontainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 110%;
}

#pension {
	font-size: 150%;
}

footer{
	background-color: #333;
}