.next {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  .next a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1%;
    text-decoration: none;
  }

  .next a:hover{
    background-color: red;
  }

  #container {
    display: flex;
    align-items: stretch;
    flex: 100%;
    height: 5%;
    padding-top: 3%;
	  justify-content: space-around;
    margin: 3%;
}

  #calculator, #pensionResult, #done, #team {
    border: 2px solid rgb(27, 24, 24);
    margin: 3%;
    padding: 1%;
    min-width: 0;
    max-width: 30%;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0%;
    background: #fff9ce;
    font-family: 'Montserrat', sans-serif;
    
}

#calculator > * {
    margin: auto;
}

#AgeValue {
    text-align: left;
}

#AgeValue::before {
    content: "Vanus: ";
}