html {
box-sizing: border-box; /* takistab paddingu lisamisel lehe kasvamist üle 100% */
}

body {
margin: 0;
min-height: 100vh;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 1.5em;
}

.container {
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-evenly;
height: 100vh;
padding: 0 20px;
}

/* navigation menu */

nav {
display: flex;
flex-direction: row;
align-items: center;
}

.nav-menu {
position: fixed;
width: 100vw;
height: 70px;
background-color: cadetblue;
justify-content: space-around;
}

.nav-buttons {
display: flex;
flex-direction: row;
list-style: none;
}

.nav-item {
border: 2px solid aliceblue;
border-radius: 5px;
padding: 10px;
font-size: medium;
font-weight: 600;
margin: 0 10%;
align-items: center;
}

a {
text-decoration: none;
color: aliceblue;
}

/* Start page */

#git-link {
text-decoration: underline;
color:rgba(8, 87, 87, 0.938);
}

.radio {
max-width: 15px;
max-height: 15px;
}

ul {
margin: 0;
padding: 0;
justify-content: space-evenly;
}

hr {
margin-top: 20px;
}

/* calculator */

.calculator {
display: flex;
flex-direction: column;
}

.sex {
flex-direction: row;
margin-bottom: 15px;
}

#range {
width: 25%;
margin-top: 10px;
}

#pension-btn, #submit-btn {
height: 30px;
width: 70px;
font-weight: 600;
border-radius: 5px;
margin-top: 15px;
}

#result {
margin-top: 15px;
}

/* Avalehe akordion ülesannetega, kood on pärit https://www.w3schools.com/howto/howto_js_task.asp */
.task-container {
display: flex;
flex-direction: row;
}

.section {
display: flex;
flex-direction: column;
width: 50%;
}

.task {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 16px;
background-color: #eee;
cursor: pointer;
padding: 10px;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
border-left: 1px solid black;
border-right: 1px solid black;
}

.odd {
background-color: rgba(189, 186, 186, 0.596);
}

.active, .task:hover {
background-color: #ccc;
}

/* Style the task panel. Note: hidden by default */
.task-description {
width: 95%;
padding: 0 18px;
background-color: white;
display: none;
overflow: hidden;
}

.task:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 13px;
color: #777;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.team-page {
display: flex;
justify-content: center;
}

/* team cards */

#bruno {
display: none;
}

.slider-btn {
font-size: 30px;
font-weight: 600;
color: grey;
cursor: pointer;
border: none;
background-color: inherit;
padding: 7%;
}

.member-card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 40px;
background-color: rgba(9, 170, 170, 0.103);
height: 400px;
width: 750px;
padding: 20px;
border-radius: 20px;
}

#portrait {
width: 30%;
height: 35%;
border-radius: 70px;
}

h3 {
margin-bottom: 10px;
}

h4 {
margin-top: 0;
}

/* Kontaktileht */

.contact-page {
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 100%;
width: 1000px;
justify-content: space-evenly;
}

form {
padding-top: 30px;
flex: 40%;
}

#form-title {
margin-top: -50px;
}

input, textarea {
width: 100%;
}

input {
height: 30px;
font-family: inherit;
font-size: inherit;
}

#google-map {
flex: 40%;
max-width: 500px;
max-height: 350px;
padding: 76px;
border: 0;
}

footer {
display: flex;
flex-direction: row;
justify-content: space-evenly;
position: fixed;
padding-top: 20px;
left: 0;
bottom: 0;
width: 100%;
height: 50px;
background-color: rgb(62, 88, 90);
color: white;
}


