*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info{
    width: 50%;
}

.info > *{
    margin: 2%;
}

footer{
    flex-shrink: 0;
}

header, footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #010101;
    color: #f7f7f7;
    font-size: 20px;
    font-weight: 600;
}

a{
    color: inherit;
}

a:hover{
    color: #7f7f7f;
}

input{text-align: center;}

#pensionContainer *{
    padding: 3% 0;
}
